<?xml version="1.0" encoding="utf-8" ?>
<ESRI.Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns="http://schemas.esri.com/DADF/Registry"
                    xsi:schemaLocation="http://schemas.esri.com/DADF/Registry file:///ArcGIS.Desktop.Framework.Local.xsd">
    <Name>Plugin</Name>
    <AddInID>{def6af28-1563-4ba8-b922-6ea05aab70c4}</AddInID>
    <Description>Plugin description</Description>
    <Version>1.0</Version>
    <Author>Walker</Author>
    <Company>Acme</Company>
    <Date>9/12/2023 5:05:33 PM</Date>
    <Targets>
        <Target name="ArcGISPro" version="3.1"/>
    </Targets>
    <!-- CLR should be set to the target framework set in the .csproj -->
    <AddIn language="CLR:PluginDS" library="WaterData.ArcGis.Plugin.DataSource.dll"
           namespace="WaterData.ArcGis.Plugin.DataSource">
        <ArcGISPro>
            <PluginDatasources>
                <PluginDatasource id="WaterData.ArcGis.Plugin.DataSource_Datasource" class="ProPluginDatasourceTemplate"/>
            </PluginDatasources>
        </ArcGISPro>
    </AddIn>
</ESRI.Configuration> 